@using FilmReview.Models
@{
    ViewBag.Title = "filmList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Film> MainList = Model as List<Film>;
}
<div class="hero common-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1> Film Listesi </h1>
                    <ul class="breadcumb">
                        <li class="active"><a href="">Anasayfa</a></li>
                        <li> <span class="ion-ios-arrow-right"></span> Filmler </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-single">
    <div class="container">
        <div class="row ipad-width">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="topbar-filter">
                    <p>toplamda <span id="FilmCount">@MainList.Count </span> film bulundu</p>
                </div>
                <div class="flex-wrap-movielist" id="FilmList">
                    @foreach (Film film in MainList)
                    {
                        <div class="movie-item-style-2 movie-item-style-1">
                            <img src="/Files/FilmImages/@film.ImagePath" alt="">
                            <div class="hvr-inner">
                                <a href="/FilmDetail?ID=@film.ID"> Daha Fazla <i class="ion-android-arrow-dropright"></i> </a>
                            </div>
                            <div class="mv-item-infor">
                                <h6><a href="/FilmDetail?ID=@film.ID">@film.FilmName</a></h6>
                                <p class="rate"><i class="ion-android-star"></i><span>@film.Rate</span> /5</p>
                            </div>
                        </div>
                    }
                </div>

            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <div class="searh-form">
                        <h4 class="sb-title">Film Ara </h4>
                        <form class="form-style-1" action="#">
                            <div class="row">
                                <div class="col-md-12 form-it">
                                    <label>Film, Tür veya Yönetmen Adı</label>
                                    <input type="text" id="SearchFilter" placeholder="Kelime gir">
                                </div>

                                <div class="col-md-12 ">
                                    <a class="redbtn" style="cursor:pointer" onclick="SearchFilm()">Ara</a>
                                </div>
                            </div>
                        </form>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        SearchFilm = async () => {
            loading.show();
            let response = await fetch("/SearchFilm/?Filter=" + $('#SearchFilter').val(), {
                method: 'GET',
            });
            let html = await response.text();
            $('#FilmList').html(html);
            $('#FilmCount').text($('.movie-item-style-2').length);
            loading.hide();

        }
    </script>
}

